<!DOCTYPE html>
<html lang="en-US">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <!-- Set the title directly -->
    <title>Yannis Montreuil</title>
        <meta name="description" content="Yannis Montreuil, PhD Candidate at the School of Computing, National University of Singapore. 
          Exploring Learning-to-Defer, Human-AI Collaboration, and Learning Theory.">

    <link rel="stylesheet" href="/assets/css/colors-light.css?v=">
    <link rel="stylesheet" href="/assets/css/style.css?v=">

    <link rel="preload" href="/assets/img/logo.png" as="image">
    <!--[if lt IE 9]>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js"></script>
    <![endif]-->
    <!-- start custom head snippets, customize with your own _includes/head-custom.html file -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free/css/all.min.css">

<!-- Setup Google Analytics -->


<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-6TXM5TX2E7"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-6TXM5TX2E7');
</script>




<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-6TXM5TX2E7"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-6TXM5TX2E7');
</script>

<!-- You can set your favicon here -->


<!-- end custom head snippets -->

  </head>
  <body>
    <div class="wrapper">
      <div class="sidebar">
        <header>
          <!-- Set static h1 title -->
          <h1 style="text-align: center;">Yannis Montreuil</h1>
          
          
            <img class="img-circle" src="/assets/img/logo.png" alt="Logo">
          
	        <div><h3><p>PhD Candidate<br><a href='https://aisingapore.org/research/phd-fellowship-programme/'>AISG and A*MA Recipient</a><br><a href='https://www.comp.nus.edu.sg/'>School of Computing</a> <br> <a href='https://nus.edu.sg/'>National University of Singapore</a></p></h3></div>
	        <div><h3></h3></div>
	        <div><h3></h3></div>

          <div class="link-wrapper">
    <style scoped>
      ul.link a {
        color:var(--clr-h1-and-bold);
        text-decoration:none;
      }

      ul.link a:hover, a:focus {
        color: var(--clr-a-text-hvr);
      }
    </style>
    <ul class="link">
      <!-- <li><a href="https://github.com/yannismontreuil"><i class="<i class='fa-brands fa-github'></i>"></i> GitHub</a></li> -->
        <li>
          <a href="https://scholar.google.com/citations?user=kTtrw0UAAAAJ&hl=fr" target="_blank">
            <i class="fa-solid fa-graduation-cap"></i>&nbsp;Scholar
          </a>
        </li>      <!-- <li><a href="mailto:yannis.montreuil@u.nus.edu"><i class="<svg xmlns='http://www.w3.org/2000/svg' aria-hidden='true' role='img' style='vertical-align:-0.125em;' width='1em' height='1em' preserveAspectRatio='xMidYMid meet' viewBox='0 0 24 24'><path fill='currentColor' d='M4 20q-.825 0-1.412-.587T2 18V6q0-.825.588-1.412T4 4h16q.825 0 1.413.588T22 6v12q0 .825-.587 1.413T20 20zm8-7L4 8v10h16V8zm0-2l8-5H4zM4 8V6v12z'/></svg>"></i> Mail</a></li> -->
       <li><a href="mailto:yannis.montreuil@u.nus.edu"><svg xmlns='http://www.w3.org/2000/svg' aria-hidden='true' role='img' style='vertical-align:-0.125em;' width='1em' height='1em' preserveAspectRatio='xMidYMid meet' viewBox='0 0 24 24'><path fill='currentColor' d='M4 20q-.825 0-1.412-.587T2 18V6q0-.825.588-1.412T4 4h16q.825 0 1.413.588T22 6v12q0 .825-.587 1.413T20 20zm8-7L4 8v10h16V8zm0-2l8-5H4zM4 8V6v12z'/></svg>&nbsp;Mail</a></li>
      <!-- <li><a href="https://www.linkedin.com/in/yannis-montreuil/"><i class="<i class='fa-brands fa-linkedin'></i>"></i> LinkedIn</a></li> -->
       <li><a href="https://www.linkedin.com/in/yannis-montreuil/"><i class='fa-brands fa-linkedin'></i>&nbsp;LinkedIn</a></li>
    </ul>
  </div>


          
	        <div><h3><h3 style="margin-top: 10px; margin-bottom: 5px;">About Me</h3>
<p align="justify" style="margin-top: 5px; line-height: 1.2;">
  I am Yannis, a PhD Candidate at the School of Computing, National University of Singapore, under the guidance of Prof. <a href="https://www.comp.nus.edu.sg/~ooiwt/">Wei Tsang Ooi</a>, Dr. <a href="https://ipal.cnrs.fr/lai-xing-ng/">Lai Xing Ng</a>, and Prof. <a href="https://ipal.cnrs.fr/axel-carlier-personal-page/">Axel Carlier</a>.
</p>
<h3 style="margin-top: 20px; margin-bottom: 5px;">Research Interests</h3>
<p align="justify" style="margin-top: 5px; line-height: 1.2;">
  Learning-to-Defer, Learning from Abstention, Human-AI Collaboration, Learning Theory.
</p>
<h3 style="margin-top: 20px; margin-bottom: 5px;">Scholarships</h3>
<p align="justify" style="margin-top: 5px; line-height: 1.2;">
  I am supported by AI Singapore and A*STAR, as part of my involvement in the DesCartes Program with CNRS@CREATE.
</p>
</h3></div>
        </header>

        <div class="link-wrapper-mobile" id="link-wrapper-mobile">
    
        <img class="logo" src="/assets/img/logo.png" alt="Logo">
    
    <style scoped>
    	#link-wrapper-mobile .logo {
            display: block; /* or inline-block, depending on your layout needs */
            margin: 0 auto; /* Center the logo */
            max-width: 300px; /* Adjust the size as needed */
            height: auto; /* Maintain aspect ratio */
        }
        #link-wrapper-mobile a {
            color: var(--clr-h1-and-bold);
            text-decoration: none;
        }
        #link-wrapper-mobile a:hover, a:focus {
            color: var(--clr-a-text-hvr);
        }
    </style>

    <!-- Logo Image -->


    <!-- Links -->
        <nobr><a href="https://github.com/yannismontreuil" rel="me"><i class='fa-brands fa-github'></i>&nbsp;GitHub</a><span style="margin-left: 6px;"></span></nobr>
        <nobr><a href="mailto:yannis.montreuil@u.nus.edu" rel="me"><svg xmlns='http://www.w3.org/2000/svg' aria-hidden='true' role='img' style='vertical-align:-0.125em;' width='1em' height='1em' preserveAspectRatio='xMidYMid meet' viewBox='0 0 24 24'><path fill='currentColor' d='M4 20q-.825 0-1.412-.587T2 18V6q0-.825.588-1.412T4 4h16q.825 0 1.413.588T22 6v12q0 .825-.587 1.413T20 20zm8-7L4 8v10h16V8zm0-2l8-5H4zM4 8V6v12z'/></svg>&nbsp;Mail</a><span style="margin-left: 6px;"></span></nobr>
        <nobr><a href="https://www.linkedin.com/in/yannis-montreuil/" rel="me"><i class='fa-brands fa-linkedin'></i>&nbsp;LinkedIn</a></nobr>
</div>



        <div class="sidebar-footer"><p><small></small></p>
</div>
      </div>
      <section>

<h2>Publications</h2>
<ul>
  <li>
    <strong>Yannis Montreuil</strong>, Axel Carlier, Lai Xing Ng, & Wei Tsang Ooi (2025). 
    <em>One-Stage Top-k Learning-to-Defer: Score-Based Surrogates with Theoretical Guarantees.</em> 
    <a href="https://arxiv.org/abs/2505.10160">arXiv preprint arXiv:2505.10160</a>.
   </li>
  <li>
    <strong>Yannis Montreuil</strong>, Axel Carlier, Lai Xing Ng, & Wei Tsang Ooi (2025). 
    <em>Why Ask One When You Can Ask k? Two-Stage Learning-to-Defer to the Top-k Experts.</em> 
    <a href="https://arxiv.org/abs/2504.12988">arXiv preprint arXiv:2504.12988</a>.
   </li>
  <li>
    <strong>Yannis Montreuil</strong>, Axel Carlier, Lai Xing Ng, & Wei Tsang Ooi (2025). 
    <em>Adversarial Robustness in Two-Stage Learning-to-Defer: Algorithms and Guarantees.</em> 
    <a href="https://arxiv.org/abs/2502.01027">arXiv preprint arXiv:2502.01027</a>. <strong>Accepted to ICML25</strong>
   </li>
  <li>
    <strong>Yannis Montreuil</strong>, Yeo Shu Heng, Axel Carlier, Lai Xing Ng, & Wei Tsang Ooi (2024). 
    <em>A Two-Stage Learning-to-Defer Approach for Multi-Task Learning.</em> 
    <a href="https://arxiv.org/abs/2410.15729">arXiv preprint arXiv:2410.15729</a>. <strong>Accepted to ICML25</strong>
  </li>
  <li>
    <strong>Yannis Montreuil</strong>, Axel Carlier, Lai Xing Ng, & Wei Tsang Ooi (2024). 
    <em>Optimal Query Allocation in Extractive QA with LLMs: A Learning-to-Defer Framework with Theoretical Guarantees.</em> 
    <a href="https://arxiv.org/abs/2410.15761">arXiv preprint arXiv:2410.15761</a>.
  </li>
</ul>

        
<h2 id="talks">Talks</h2>
<ul>
  <li>
    <strong>Yannis Montreuil</strong> (Oct 2023): 
    <em>Human-AI in Decision Making</em>, Ethics of Autonomy in Smart Cities, DesCartes Symposium.
  </li>
  <li>
    <strong>Yannis Montreuil</strong> (July 2023): 
    <em>Learning to Defer with Support Vector Machine</em>, From Human-Human to Human-AI Collaboration, Association for the Advancement of Artificial Intelligence.
  </li>
</ul>

<h2 id="teaching">Teaching</h2>
<ul>
  <li>CS5242 Neural Networks and Deep Learning</li>
  <li>CP2107 Independent Introduction to CS Research</li>
</ul>

<h2 id="students">Students</h2>
<ul>
  <li><strong>AY24/25</strong>: Yeo Shu Heng, Dang Hoang Duy</li>
  <li><strong>AY23/24</strong>: Seah Min-Rei, Yeo Shu Heng, Dang Hoang Duy</li>
</ul>


      </section>
      <footer><p><small></small></p>
</footer>
    </div>
    <script src="/assets/js/scale.fix.js"></script>
  </body>
</html>
