<!DOCTYPE html>
<html lang="en-US">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <!-- Set the title directly -->
    <title>Yannis Montreuil</title>

    <!-- Meta Description -->
    <meta name="description" content="Yannis Montreuil, PhD Candidate at the School of Computing, National University of Singapore. Specializing in
      Learning-to-Defer, Learning from Abstention, Human-AI Collaboration, and Learning Theory.">

    <link rel="stylesheet" href="/assets/css/colors-light.css?v=">
    <link rel="stylesheet" href="/assets/css/style.css?v=">

    <link rel="preload" href="/assets/img/logo.png" as="image">
    <!--[if lt IE 9]>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js"></script>
    <![endif]-->
    <!-- start custom head snippets, customize with your own _includes/head-custom.html file -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free/css/all.min.css">

    <!-- Setup Google Analytics -->
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-6TXM5TX2E7"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'G-6TXM5TX2E7');
    </script>
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-6TXM5TX2E7"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'G-6TXM5TX2E7');
    </script>
    <!-- You can set your favicon here -->
    <!-- end custom head snippets -->
  </head>
  <body>
    <!-- Your existing content -->
  </body>
</html>
